<% @page_title = "Admin: Member list" %>
<h1>Member List</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>telephone</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Check Reservation</th>
        </tr>
    </thead>
    <tbody>
    <% @members.each do |member|%>
        <tr>
            <td><%= member.name %></td>
            <td><%= member.telephone %></td>
            <td><%= member.email %></td>
            <td><%= member.birthday %></td>
            <% if member.reservations.present? %>
            <td><%= link_to "Check", admin_reservation_path(member)%></td>
            <% end %>
        </tr>
    <%end%>
    </tbody>
</table>