<% @page_title = "Admin page" %>
<h1><%= @page_title %>
<table>
    <tr>
        <td><%= link_to "User Accounts", admin_members_path %></td>
    </tr>
    <tr>
        <td><%= link_to "Reservations", admin_reservations_path %></td>
    </tr>
    <tr>
        <td><%= link_to "Plans", admin_plans_path %></td>
    </tr>
    <tr>
        <td><%= link_to "Dinner", admin_dinners_path %></td>
    </tr>
    <tr>
        <td><%= link_to "Rooms", admin_rooms_path %></td>
    </tr>
</table>

