<table class = "attr">
    <tr>
        <th><%= form.label :name %></th>
        <td><%= form.text_field :name %></td>
    </tr>
    <tr>
        <th><%= form.label :dish %></th>
        <td><%= form.text_field :dish %></td>
    </tr>
    <tr>
        <th><%= form.label :cost%></th>
        <td><%= form.number_field :cost%></td>
    </tr>
    <tr>
        <th><%= form.label :kcal%></th>
        <td><%= form.number_field :kcal%></td>
    </tr>
</table>
