<table class = "attr">
    <tr>
        <th><%= form.label :name %></th>
        <td><%= form.text_field :name %></td>
    </tr>
    <tr>
        <th><%= form.label :dinner_id%></th>
        <td><%= form.number_field :dinner_id%></td>
    </tr>
    <tr>
        <th><%= form.label :plan_start%></th>
        <td><%= form.date_select :plan_start, start_year: Time.current.year, use_month_numbers: true %></td>
    </tr>
    <tr>
        <th><%= form.label :plan_end %></th>
        <td><%= form.date_select :plan_end, start_year: Time.current.year, use_month_numbers: true %></td>
    </tr>
    <tr>
        <th><%= form.label :guest_max %></th>
        <td><%= form.number_field :guest_max %></td>
    </tr>
    <tr>
        <th><%= form.label :guest_min %></th>
        <td><%= form.number_field :guest_min %></td>
    </tr>
