<table class = "attr">
    <%=form_for @reservation do |f| %>
        <tr>
            <th><%= f.label :guest_count %>
            <td><%= f.text_field :guest_count %>
        </tr>
        <tr>
            <th><%= f.label :date_start %></th>
            <td><%= f.date_select :date_start, use_month_numbers: true, discard_year: true %></td>
        </tr>
        <tr>
            <th><%= f.label :date_end %></th>
            <td><%= f.date_select :date_start, use_month_numbers: true, discard_year: true %></td>
        </tr>
        <tr>
            <th><%= f.label :morning %></th>
            <td><%= f.check_box :morning %></td>
        </tr>
</table>
<div>
    <%= f.submit "Reservation" %>
</div>
<% end %>