<h1>予約内容入力</h1>
<div class="contents"%>
  <p id="error"><%= flash.alert%>
</div>
<%= render "shared/errors", obj: @reservation %>
<%= form_tag :reservations , method: :create do %>
  宿泊開始日：<%= date_field_tag :date_start, Date.today+1 %>
  宿泊終了日：<%= date_field_tag :date_end, Date.today+2 %>
  <% guestop = ["1",1],["2",2],["3",3],["4",4],["5",5],["6",6] %>
  宿泊人数：<%= select_tag :guest_count, options_for_select(guestop,1)%>
  <% morningop = ["有",1],["無",0] %>
  朝食の有無：<%= select_tag :morning, options_for_select(morningop,1)  %>
  <br>
  部屋タイプ
  <%= check_box_tag :roten, true, false %>
  <%= label_tag :roten, "露天風呂付" %>
  <%= check_box_tag :wasitsu, true, false %>
  <%= label_tag :wasitsu, "和室" %>
  <%= check_box_tag :kawa, true, false %>
  <%= label_tag :kawa, "川側(景観抜群)" %>
  <hr>
  member_id
  <%= text_field_tag :member_id, session[:member_id] %>
  plan_id
  <%= text_field_tag :plan_id, params[:plan_id] %>
  <%= submit_tag "予約"%>
<% end %>
