<% @page_title = "Check reservations" %>
<h1>Check a reservation</h1>
<% if @reservations.present? %>

  <% @reservations.each do |reservation|%>
    <table>
        <tr>
            <th>Plan_id</th>
            <td><%= reservation.plan_id %></td>
        </tr>
        <tr>
            <th>Type_id</th>
            <td><%= reservation.type_id %></td>
        </tr>
        <tr>
            <th>guest_count</th>
            <td><%= reservation.guest_count %>
        </tr>
        <tr>
            <th>date_start</th>
            <td><%= reservation.date_start %></td>
        </tr>
        <tr>
            <th>date_end</th>
            <td><%= reservation.date_end %></td>
        </tr>
    </table>
    <br>
    
     <% end %> 

<% end %>