<% @page_title = "admin:" +@plan.name%>
<table>
    <tr>
        <th>Name</th>
        <td><%=@plan.name %></td>
    </tr>
    <tr>
        <th>Dinner_id</th>
        <td><%=@plan.dinner_id %></td>
    </tr>
    <tr>
        <th>Plan_start</th>
        <td><%=@plan.plan_start %></td>
    </tr>
    <tr>
        <th>Plan_end</th>
        <td><%=@plan.plan_end %></td>
    </tr>
    <tr>
        <th>manegemant</th>
        <td><%= link_to "edit",[:edit, :admin, @plan] %><td>
        <td><%= link_to "delete",[:admin, @plan], method: :delete, data: {confirm: "Are you sure delete this plan?"}%>
    </tr>
     

    
    
</table>