<!DOCTYPE html>
<html>
	<head>
		<title><%= page_title %></title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
		
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">

	</head>
	<div id="container">
		<header><%= render "shared/header" %></header>
		<nav><%= render "shared/nav" %></nav>


		<body>
			<div id="body"><%= yield %></div>
		</body>

		<footer id="footer"><%= render "shared/footer" %></footer>
	</div>
</html>
